
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&family=Rouge+Script&display=swap');


html {
  display:flex;
  justify-content: center;
  max-width: 1024px;

}
